.bici-lista {
  padding-top: 60px;
  padding-bottom: 120px;
}

.bici-lista h2 {
  margin-bottom: 40px;
}

.bici-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px 20px 20px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.bici-lista li {
  min-width: 280px;
}

.bici-lista a {
  display: block;
}

.bici-lista img {
  margin-bottom: 16px;
}

.bici-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bici-lista h3::before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  margin-right: 8px;
  background-color: var(--p01);
}

.bici-lista a:hover h3::before {
  width: 24px;
  transition: 0.2s;
}

.bici-lista li span {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .bici-lista {
    padding-bottom: 60px;
  }

  .bici-lista ul {
    gap: 20px;
  }
}
